body {
  background-color: aquamarine;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* spacing between cards */
}

.profile-container {
  background-color: #f44336;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.profile-container:hover {
  background-color: #af1e14;
  cursor: pointer;
}

.profile-img img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

a.card-link {
  text-decoration: none;
  color: inherit;
}